{% extends 'layout.html' %}
{% load static %}


{% block content %}

<form action="/profile" method="POST" class="flex  justify-evenly gap-4 p-4 w-full">
   {% csrf_token %}
   <div class="relative flex gap-4 flex-wrap items-stretch w-full transition-all rounded-lg ease-soft">
      <span
         class="text-size-sm ease-soft leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
         <i class="fas fa-at" aria-hidden="true"></i>
      </span>
      <input name="link" type="text"
         class="pl-8.75 text-size-sm focus:shadow-soft-primary-outline ease-soft w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none focus:transition-shadow"
         placeholder="username. . ." />
      <button type="submit"
         class="font-bol bg-gradient-to-r from-fuchsia-400 to-purple-500 hover:from-pink-500 hover:to-orange-500 text-white font-semibold px-6 py-3 rounded-md">
         Analyze
      </button>
   </div>
</form>

{% if name %}
<div class="w-full flex flex-wrap px-6 py-6 mx-auto">
   <div class="w-full max-w-full p-3  xl:w-3/12">
      <div
         class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
         <div class="p-4 pb-0 mb-0 bg-white border-b-0 rounded-t-2xl">
            <div class="flex flex-wrap -mx-3">
               <div class="flex items-center w-full max-w-full px-3 shrink-0 md:w-8/12 md:flex-none">
                  <h6 class="mb-0">Profile Information</h6>
               </div>
            </div>
         </div>
         <div class="flex-auto p-4">
            <img src="{{img_url}}" class="rounded-full" alt=""/>
            <strong class="text-slate-700">{{name}}</strong>
            <p class="leading-normal text-size-sm">{{description}}</p>
            <hr class="h-px my-6 bg-transparent bg-gradient-horizontal-light">
            <ul class="flex flex-col pl-0 mb-0 rounded-lg">
               <div class="flex flex-col justify-between">
                  <li
                  class="relative block px-4 pt-0 pl-0 leading-normal bg-white border-0 rounded-t-lg text-size-sm text-inherit">
                  <strong class="text-slate-700">Location</strong> &nbsp; {{location}}</li>
                  <li
                  class="relative block px-4 pt-0 pl-0 leading-normal bg-white border-0 rounded-t-lg text-size-sm text-inherit">
                  <strong class="text-slate-700">Created at</strong> &nbsp; {{created_at}}</li>
               </div>
               <div class="flex flex-col justify-between">
                  <li
                  class="relative block px-4 pt-0 pl-0 leading-normal bg-white border-0 rounded-t-lg text-size-sm text-inherit">
                  <strong class="text-slate-700">Followers/strong> &nbsp; {{followers}}</li>
                  <li
                  class="relative block px-4 pt-0 pl-0 leading-normal bg-white border-0 rounded-t-lg text-size-sm text-inherit">
                  <strong class="text-slate-700">Following</strong> &nbsp; {{followings}}</li>
               </div>
         
            </ul>
            {{% if is_bot %}}
            <div alert class="relative w-full p-4 mb-4 text-white border border-red-300 border-solid rounded-lg bg-gradient-red">Alert red</div>
            {% else %}
            <div alert class="relative w-full p-4 mb-4 text-white border border-red-300 border-solid rounded-lg bg-gradient-red">Alert red</div>

            {% endif %}
         </div>
      </div>
   </div>

   <div class="flex flex-wrap w-full max-w-full  gap-8 lg:gap-0 xl:w-3/12">
      <div class="w-full max-w-full p-3 mt-0">
         <div
            class="border-black/12.5 shadow-soft-xl relative z-20 flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
            <div class="flex-auto p-4">
               {% autoescape off %}
               {{pie_chart}}
               {% endautoescape %}
            </div>
         </div>
      </div>
   </div>

   <div class="flex flex-wrap w-full max-w-full  gap-8 lg:gap-0 xl:w-6/12">
      <div class="w-full max-w-full p-3 mt-0">
         <div
            class="border-black/12.5 shadow-soft-xl relative z-20 flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
            <div class="flex-auto p-4">
               {% autoescape off %}
               {{neg_graph}}
               {% endautoescape %}
            </div>
         </div>
      </div>
   </div>

   <div class="flex flex-wrap w-full max-w-full ">
      <div class="w-full max-w-full p-3 mt-0">
         <div
            class="border-black/12.5 shadow-soft-xl relative z-20 flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
            <div class="flex-auto p-4">
               {% autoescape off %}
               {{all_graph}}
               {% endautoescape %}
            </div>
         </div>
      </div>
   </div>

</div>
{% endif %}

{% endblock content %}